<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>MyPictionary | The game you won't drop!</title>
    <link rel = "icon" type = "image/png" href = "../../images/logo.png">
    <link rel="stylesheet" href="../../css/styleForHomeAndForms.css">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <a href="/" id="homeLink">
                    <p class="navbar-brand" id="title">MyPictionary</p>
                    <img src="../../images/logo.png" alt="logo" id="mainLogo" class="navbar-text navbar-left">
                </a>
            </div>
            
            <button onclick="location.href='login'" type="button" class="btn btn-default navbar-btn navbar-right" id="loginButton">Login</button>
            <p class="navbar-text navbar-right"><a href="register" class="navbar-link" id="regBtn">Register</a></p>
            <p class="navbar-text navbar-right"><a href="theGame" class="navbar-link" id="theGameBtn">The Game</a></p>
        </nav>
    </div>


    @!section('content')


    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 col-lg-offset-2 col-lg-8">
                <footer>
                    <p class="text-center"><a href="/about">about</a></p>
                    <br>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>