@layout('layouts.appNoConnection')

@section('content')
    <div class="container-fluid hero-image">
        <div class="hero-text">
            <h1 class="text-center">Join <em><strong>now</strong></em> the best online Pictionary game!</h1>
        </div>              
    </div>
@endsection